<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MultiSafepay\Mirakl\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="MultiSafepay\Mirakl\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Mirakl</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="default" xsi:type="object">MultiSafepay\Mirakl\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="MultiSafepay\ConnectCore\Service\Process\CreateInvoice">
        <plugin name="multisafepay_mirakl_create_invoice" type="MultiSafepay\Mirakl\Plugin\ConnectCore\Service\Process\CreateInvoicePlugin" sortOrder="1" disabled="false" />
    </type>
    <type name="MultiSafepay\ConnectCore\Model\Api\Builder\OrderRequestBuilder\ShoppingCartBuilder\OrderItemBuilder">
        <plugin name="multisafepay_mirakl_merchant_item_id" type="MultiSafepay\Mirakl\Plugin\ConnectCore\Model\Api\Builder\OrderRequestBuilder\ShoppingCartBuilder\OrderItemBuilderPlugin" sortOrder="1" disabled="false" />
    </type>
    <type name="MultiSafepay\ConnectCore\Model\Api\Builder\OrderRequestBuilder\ShoppingCartBuilder">
        <arguments>
            <argument name="shoppingCartBuilders" xsi:type="array">
                <item name="marketplace_shipping_total_builder" xsi:type="object">
                    MultiSafepay\Mirakl\Builder\OrderRequestBuilder\ShoppingCartBuilder\MarketplaceShippingTotalBuilder
                </item>
            </argument>
        </arguments>
    </type>
    <type name="MultiSafepay\ConnectCore\Service\Transaction\StatusOperationManager">
        <plugin name="multisafepay_mirakl_check_financial_status" type="MultiSafepay\Mirakl\Plugin\ConnectCore\Service\Transaction\StatusOperationManagerPlugin" sortOrder="1" disabled="false" />
    </type>
    <type name="Mirakl\Connector\Model\Order\Converter">
        <plugin name="multisafepay_mirakl_order_converter" type="MultiSafepay\Mirakl\Plugin\Connector\Model\Order\ConverterPlugin" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="multisafepay_mirakl_add_available_methods" type="MultiSafepay\Mirakl\Plugin\Magento\Payment\Model\MethodList\MethodListPlugin" sortOrder="1" disabled="false"  />
    </type>
</config>



