<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="multisafepay_mirakl" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
            <class>separator-top</class>
            <label><![CDATA[Mirakl]]></label>
            <tab>multisafepay</tab>
            <resource>MultiSafepay_Mirakl::configuration</resource>
            <group id="multisafepay_mirakl" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
                <label><![CDATA[Mirakl Settings]]></label>
                <field id="collecting_live_account_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Commission Collecting Account ID]]></label>
                    <frontend_model>MultiSafepay\Mirakl\Block\Adminhtml\Form\Field\AffiliateConditionalField</frontend_model>
                    <config_path>multisafepay/mirakl/collecting_live_account_id</config_path>
                    <comment><![CDATA[The ID of the MultiSafepay account where commissions of the operator will be transferred]]></comment>
                </field>
                <field id="collecting_test_account_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Commission Collecting Test Account ID]]></label>
                    <frontend_model>MultiSafepay\Mirakl\Block\Adminhtml\Form\Field\AffiliateConditionalField</frontend_model>
                    <config_path>multisafepay/mirakl/collecting_test_account_id</config_path>
                    <comment><![CDATA[The ID of the MultiSafepay account where commissions of the operator will be transferred]]></comment>
                </field>
                <field id="affiliate_live_api_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Account API Key]]></label>
                    <frontend_model>MultiSafepay\Mirakl\Block\Adminhtml\Form\Field\AffiliateConditionalField</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <config_path>multisafepay/mirakl/affiliate_live_api_key</config_path>
                    <comment><![CDATA[<div class="multisafepay-note-blue">
                    Contact your account manager for your <strong><u>Account</u></strong> API Key.
                </div>]]></comment>
                </field>
                <field id="affiliate_test_api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Account Test API Key]]></label>
                    <frontend_model>MultiSafepay\Mirakl\Block\Adminhtml\Form\Field\AffiliateConditionalField</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <config_path>multisafepay/mirakl/affiliate_test_api_key</config_path>
                    <comment><![CDATA[<div class="multisafepay-note-blue">
                    Contact your account manager for your <strong><u>Account</u></strong> API Key.
                </div>]]></comment>
                </field>
                <field id="validate_affiliate_api_key" translate="label" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label></label>
                    <frontend_model>MultiSafepay\Mirakl\Block\Adminhtml\Config\ValidateAffiliateKeyButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
